@import "/src/styles/colors.scss";
@import "/src/styles/typography.scss";

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-white;
  font-size: $font-size-xs;
  background-color: $main-primary;
  border-top: 1px solid $text-grey;
  box-sizing: border-box;

  &-footerNav {
    display: flex;
    margin-left: 32px;
    gap: 24px;

    &-item {
      display: flex;
      flex-direction: row-reverse;

      &-icon {
        margin-left: 8px;
        color: $text-grey;
      }
    }
  }

  &-copyright {
    margin-right: 32px;
  }
}
