@import "/src/styles/colors.scss";
@import "/src/styles/typography.scss";
@import "/src/components/forms/render-radio-group.scss";

$background-overlay-color: rgba($main-primary, 0.85);

.propertyTransaction {
  height: 100%;
  display: flex;
  flex-direction: column;
  // background-color は背景画像より下位のレイヤーに描画されるため、linear-gradient を使用する
  // background では、左の値から「,」区切りで上位レイヤーが表示される仕様とのこと
  background: linear-gradient($background-overlay-color, $background-overlay-color), var(--background-image) no-repeat center center;
  object-fit: cover;

  &-titleArea {
    height: 56px;
    color: $main-white;
    margin: 40px 40px 0;
    border-bottom: 1px solid $text-grey;
    box-sizing: border-box;

    &-content {
      height: 40px;
      margin-bottom: 16px;
      display: flex;
      align-items: flex-end;
      gap: 16px;

      &-title {
        font-size: $font-size-xxl;
        gap: 8px;
      }

      &-description {
        font-size: $font-size-s;
      }
    }
  }

  &-graphArea {
    height: 100%;
    margin: 40px;
    display: flex;
    justify-content: flex-end;

    &-control {
      width: 359px;
      height: 100%;
      color: $text-black;
      background-color: $main-primary-light;
      border-radius: 4px;
      display: flex;
      flex-direction: column;

      &-container {
        height: 100%;
        margin: 24px;
        font-size: $font-size-s;
        display: flex;
        flex-direction: column;

        .formItemName {
          gap: 6px;
        }

        &-title {
          font-size: $font-size-m;
          margin-bottom: 24px;
        }

        &-place,
        &-year,
        &-kinds {
          font-size: $font-size-s;
          border-top: 1px solid $component-border;
          padding: 24px 0;
          display: flex;
          gap: 24px;
        }

        &-kinds {
          align-items: flex-start;

          .formItemName {
            height: $radio-button-size;
          }
        }

        &-download {
          margin-top: auto;

          button {
            font-size: $font-size-m;
          }
        }
      }
    }
  }
}
