@import "/src/styles/colors.scss";

.header {
  width: 100%;
  background-color: $main-white;
  display: flex;
  align-items: center;

  &-logo {
    width: 233px;
    height: 60px;
    margin-left: 2px;
  }
}
