// ブランド
$brand-landit: #231815;
$brand-at-port: #0062b1;
$brand-pit-port: #00aec4;

// メイン
$main-primary: #313546;
$main-primary-light: #f0f3f5;
$main-white: #ffffff;

// アクセント
$accent-attention: #ee8f00;
$accent-warning: #de4335;
$accent-emphasis: #cb1706;
$accent-empty-car: #0062b1;
$accent-vacant-schedule: #3ea32d;
$accent-full: #aa4a41;

// 文字
$text-black: #23221f;
$text-grey: #706d65;
$text-link: #0071c1;
$text-disabled: #c1bdb7;
$text-white: #ffffff;

// コンポーネント
$component-background: #f8f7f6;
$component-border: #e5e5e5;
$component-footer-background: #ebeced;
$component-form-background: #ffffff;
$component-form-border: #a7a6a5;
$component-form-disabled-background: #e6e5e4;
$component-table-header-bg: #edebe8;
$component-attention-light: #fdf4e5;
$component-text-link-dark: #005a9a;
$component-text-link-light: #f2f8fc;
